<a href="https://colab.research.google.com/github/jcowart1987/Project2/blob/main/Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data set 1 - Source of data, brief description, and target.

For the first data set, I pulled player statistics from the FIFA 2022 video game.

This data set came from: https://sports-statistics.com/fifa-2022-dataset-csvs/ , and I downloaded the zip file, and then downloaded the 2022 player profiles. 

From there, I had to do a lot of pairing down from excel, and deleted several columns before uploading it into collab.  The columns I deleted were columns that I did not need - (Player name, country of origin, jersey number, real face / fake face, franchise mode / coach mode, and other video-game related columns that I didn't want).

The question I'm trying to answer with this data is - "What are the factors that help us predict how much a player will earn in Euros?" 

The target column is "value_eur". The feature columns are mixture of statistics, some identifying information about the players, what league they play for, what club they play for, and some physical attributes.  I'm curious to see if there is a body type, specific soccer position, or a specific statistic that determines how much a player will make.

In [2]:
#Upload FIFA 22 data

import pandas as pd
df1 = pd.read_csv('/content/FifaPlayers22.csv')

In [3]:
df1.head()

,overall,potential,value_eur,age,height_cm,weight_kg,club_team_id,league_level,club_position,work_rate,...,defending,attacking_finishing,skill_dribbling,skill_curve,movement_acceleration,movement_sprint_speed,power_shot_power,power_long_shots,mentality_aggression,defending_marking_awareness
0,93,93,78000000.0,34,170,72,73.0,1.0,RW,Medium/Low,...,34.0,95,96,93,91,80,86,94,44,20
1,92,92,119500000.0,32,185,81,21.0,1.0,ST,High/Medium,...,44.0,95,85,79,77,79,90,87,81,35
2,91,91,45000000.0,36,187,83,11.0,1.0,ST,High/Low,...,34.0,95,88,81,85,88,94,93,63,24
3,91,91,129000000.0,29,175,68,73.0,1.0,LW,High/Medium,...,37.0,83,95,88,93,89,80,81,63,35
4,91,91,125500000.0,30,181,70,10.0,1.0,RCM,High/High,...,64.0,82,88,85,76,76,91,91,76,68

# More information about data set #1:

Each row represents a player and his physical traits, position, and statistics.

Since the target Euro values are continous, this is a regression excercise.

In [4]:
df1

,overall,potential,value_eur,age,height_cm,weight_kg,club_team_id,league_level,club_position,work_rate,...,defending,attacking_finishing,skill_dribbling,skill_curve,movement_acceleration,movement_sprint_speed,power_shot_power,power_long_shots,mentality_aggression,defending_marking_awareness
0,93,93,78000000.0,34,170,72,73.0,1.0,RW,Medium/Low,...,34.0,95,96,93,91,80,86,94,44,20
1,92,92,119500000.0,32,185,81,21.0,1.0,ST,High/Medium,...,44.0,95,85,79,77,79,90,87,81,35
2,91,91,45000000.0,36,187,83,11.0,1.0,ST,High/Low,...,34.0,95,88,81,85,88,94,93,63,24
3,91,91,129000000.0,29,175,68,73.0,1.0,LW,High/Medium,...,37.0,83,95,88,93,89,80,81,63,35
4,91,91,125500000.0,30,181,70,10.0,1.0,RCM,High/High,...,64.0,82,88,85,76,76,91,91,76,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,47,52,70000.0,22,180,64,112541.0,1.0,SUB,Medium/Medium,...,42.0,32,45,33,56,60,46,30,52,38
19235,47,59,110000.0,19,175,70,445.0,1.0,RES,Medium/Medium,...,41.0,33,41,53,60,58,49,38,49,37
19236,47,55,100000.0,21,178,72,111131.0,1.0,RES,Medium/Medium,...,41.0,32,47,37,60,60,50,34,51,38
19237,47,60,110000.0,19,173,66,111131.0,1.0,RES,Medium/Medium,...,15.0,49,42,36,69,67,48,41,34,10
19238,47,60,110000.0,19,167,61,113040.0,1.0,SUB,Medium/Medium,...,36.0,32,48,38,70,67,50,36,55,33

There are 24 features and 19239 rows.

One potential challenge I see with this data set is the work rate column. I'm not sure if I should ordinal encode that or not, as I don't know if FIFA gives more values to low, medium, and high, or if that is simply and identifying aspect of the player.  I'll need to do a little digging on this.

#Data Set #2 - Source of data, brief description, and target. 

This next data set is a fictional set of student achievement data. It has 5 feature columns about student demographics that determine academic success.  There are 3 target columns - writing score, reading score, and math score.  

I'm curious to see which, if any, demographic feature has the most impact of student achievement scores over the other. The source for this data is: http://roycekimmons.com/tools/generated_data/exams

In [5]:
df2 = pd.read_csv('/content/StudentScores.csv')
df2.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group B,bachelor's degree,standard,completed,82,74,73
1,female,group D,some high school,standard,completed,75,73,82
2,male,group C,bachelor's degree,standard,none,57,57,58
3,male,group B,high school,free/reduced,none,59,63,52
4,male,group D,some college,standard,completed,71,77,83

In [6]:
df2

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group B,bachelor's degree,standard,completed,82,74,73
1,female,group D,some high school,standard,completed,75,73,82
2,male,group C,bachelor's degree,standard,none,57,57,58
3,male,group B,high school,free/reduced,none,59,63,52
4,male,group D,some college,standard,completed,71,77,83
...,...,...,...,...,...,...,...,...
995,female,group D,some high school,standard,none,48,54,55
996,male,group B,bachelor's degree,free/reduced,none,46,55,44
997,male,group D,bachelor's degree,standard,none,74,72,75
998,female,group B,some college,free/reduced,none,39,57,51
999,female,group B,associate's degree,free/reduced,none,60,62,64

#More information about data set #2
There are 5 features and 1000 columns. This is a regression problem, since the academic scores are continous. 

The main challenge I'm going to have with this set is having 3 target columns. I will need to do some research to ensure that I do this correctly.